.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: #3f3f3f;
  max-width: 20%;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
}

.profile_pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.headerContainer {
  background-color: black;
  min-height: 50px;
}

.icon {
  font-size: 1.75rem;
  color: white;
  margin-top: 10%;
  margin-right: 10px;
  cursor: pointer;
}

.profile {
  margin-top: 2%;
  margin-left: 10px;
}

.status {
  position: absolute;
  top: 25px;
  left: 35px;
  height: 15px;
  width: 15px;
  background-color: #b8b8b8;
  border-radius: 50%;
  display: inline-block;
}

.userDetailPopUp {
  top: 50px;
  left: 10px;
  text-align: center;
  position: absolute;
  background-color: rgb(90, 88, 88);
  min-width: 75px;
  min-height: 35px;
  border-radius: 5px;
  z-index: 2;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    0px 9px 26px 6px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 0px 9px 26px 6px rgba(0, 0, 0, 0);
}

.userDetailPopUp:after {
  content: '';
  position: absolute;
  top: -5px;
  left: 5px;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  background-color: rgb(90, 88, 88); /* to see where it is */
}

.userDetailPopUp p {
  margin-top: 5px;
}
