@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Aleo', serif;
  background-color: #595959;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
